* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.header {
  background: #e0d9e0;
  background-image: url(pic1.jpg);
  background-repeat: no-repeat;
}
/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}

.nav-title {
  font-weight: 800px;
  font-size: 45px;
  display: flex;
  height: 100px;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
.text-primary {
  color: rgb(206, 3, 3);
}
.btn-primary {
  color: rgb(190, 200, 9);
  height: 45px;
  border-radius: 5px;
  background-color: red;
  font-size: 22px;
  font-weight: 700px;
  border: none;
  padding: 18px 35pxS;
}
/* banner styles */
.banner {
  display: flex;
  margin: 0px 50px;
  align-items: center;
}
.jewel {
  height: 50px;
  width: 200px;
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
}

.habib {
  font-size: 35px;
  color: black;
}
.banner-dis {
  color: rgb(16, 11, 6);
  font-size: 16px;
  margin-bottom: 30px;
}
/* main section */
main {
  max-width: 1140px;
  margin: o auto;
  align-items: center;
}
/* about section styles */
.about {
  margin-top: 130px;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 130px 150px;
  align-items: center;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700px;
  font-size: 40px;
  color: purple;
}

.section-dis {
  color: rgb(14, 10, 6);
  font-size: 18px;
  margin-bottom: 30px;
}

.sunno {
  display: flex;
  justify-content: space-around;
}
.jinfo {
  font-size: 17px;
  color: rgb(70, 30, 30);
}
.info title {
  font-size: 17px;
  font-weight: 700px;
  color: rgb(81, 28, 28);
}
.info des {
  font-weight: 700px;
  font-size: 17px;
  color: darkcyan;
}
/* what I do styles */
.shamu {
  margin-top: 130px;
}
.skills-container {
  display: flex;
  gap: 30px;
}
.skill-title {
  color: black;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-des {
  font-size: 16px;
  color: black;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.Resume {
  margin-top: 130px;
}
/* Resume styles */

.resume-title {
  font-size: 22px;
  margin-top: 20px;
}
.resume-item {
  font-size: 17px;
  color: black;
}
.evan {
  display: flex;
  gap: 33px;
}
.hasan {
  display: flex;
  gap: 33px;
}
.amad {
  display: flex;
  gap: 33px;
}
.resume-item {
  font-size: 24px;
  color: black;
  text-decoration: solid;
}
.mithu {
  text-decoration: solid;
  font-size: 18px;
  color: black;
}
.rikta {
  font-size: 16px;
  color: black;
}
.btn-second {
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  color: black;
  background-color: red;
  font-size: 22px;
  border-radius: 5px;
}
/* contact section */
.contact .section-evan {
  text-align: left;
}
.contact {
  display: flex;
  gap: 100px;
  background-color: bisque;
  padding: 130px 200px;
}
